html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#container {
  display: flex;
  height: 500px;
  width: 500px;
  flex-direction: column;
  border: 5px solid black;
}

.row {
  display: flex;
  flex: 1;
}

.column {
  display: flex;
  flex: 1;
  border: 1px solid black;
}

#input {
  width: 145px;
  margin-bottom: 10px;
}

#btn {
  margin: 10px 10px;
  padding: 5px;
}
